@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fs-11{
    font-size: 11px;
}
header img{
    width: 70px;
    margin: 15px 0px;
}
a{
    text-decoration: none;
    color: white;
}
header ul {
    li{
        margin: 0px 10px;
        font-size: 12px;

        a{
            text-decoration: none;
            color: rgb(37, 37, 37);
            padding: 39px 0px;
        }
        .active{
            color: #097CEB;
            border-bottom: 4px solid #097CEB;
        }
    }
}
.container-comics{
    max-width: 1300px;
}
.card-container{
    max-width: 1100px;
    margin: 0 auto;
}
#search{
    width: 120px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #0C6DFD;
    text-align: end;
    font-size: 13px;
}
.jumbo{
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    width: 100vw;
    height: 300px;
}
.container-jumbo{
    width: 100%;
}
.bg-darkgrey{
    background-color: rgb(37, 37, 37);
}
.button-current{
    padding: 8px;
    width: 200px;
    border: none;
    background-color: #0281F6;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.button-more{
    padding: 5px;
    width: 200px;
    border: none;
    background-color: #0281F6;
    color: white;
    font-size: 14px;
}
.p-absolute-button{
    position: absolute;
    top: 0px;
    left: 250px;
}
button:hover{
    background-color: blue;
}
.comics-card img:hover{
    border: 2px solid white;
}
.comics-card img{
    width: 150px;
    height: 150px;
}